
/* Paleta colores
Morado: 7D09B8
verde: 82C600
amarillo: FFD500
*/

body {
  color: white;
  background: url("multimedia/final.gif") center center fixed;
  background-size: cover; /* hace que el gif cubra toda la pantalla */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;  
  min-height: 100vh;   
  margin: 0;
}

#principal{
  background-color: rgba(0, 0, 0, 0.9); /* color principal de la página */
  width: 85%;             /* ajusta el ancho */
  min-height: 100%;      /* ocupa toda la altura */
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFD500;
  padding: 1%;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 2px;
  background: #82C600;
  transition: width 0.3s ease;
}

nav a:hover {
  color: #82C600;
}

nav a:hover::after {
  width: 100%;
}

nav {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
}
h2{
  color: #a159c5;
}

#rick_article{
  border-bottom: 2px solid  #82C600;
}
#simpson_article{
  border-bottom: 2px solid  #82C600;
}
#falls_article{
  border-bottom: 2px solid  #82C600;
}